@font-face {
  font-family: "videophreak";
  src: url('../assets/videophreak.regular.ttf') format('truetype');
}
body{
  overflow-x: hidden;
}
img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

h2 {
  font-size: 2em;
}
.container {
  display: flex;
  margin: 2em;
}

.container:nth-child(2n) {
  flex-direction: row-reverse;
}

.container h2 {
  width: 150px;
  margin: auto 20px;
}

.image-container {
  width: 300px;
  height: 300px;
}

.image-container img {
  box-shadow: 5px 5px 3px #444;
}

.text-wrapper {
  opacity: 0;
  transition: .5s ease-in-out;
  width: 0px;
  height: 300px;
  background-color: rgba(0,0,0,0.75);
  color: rgb(185, 185, 185);
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.text-wrapper p {
  width: 30%;
  margin: 10px 15%;
  position: absolute;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.0);
  transition: .2s ease-in-out;
  font-size: 1.5em;
}

.container:hover .text-wrapper {
  opacity: 1;
  width: 50%;
  height: 300px;
}

.container:hover .text-wrapper p {
  transition-delay: .5s;
  color: #ddd;
}